body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    
}
.orange-color{
    color: rgb(52, 107, 107);
}
h1{
    font-size: 40px;
}
h2{
    color: green;
}
p{
    text-align: justify;
    font-size: 120%;
}
.section1{
    display: flex;
    flex: 50%;
}
.width-set{
    width: 50%;
    padding: 5%;
}
.width-set img{
    width: 80%;
}
.subscribe-button{
    text-decoration: none;
    background-color: rgb(42, 219, 210);
    padding: 2%;
    color: rgb(235, 8, 8);
    border-radius: 5%;
}
.background{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

